.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;


    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 30rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: #323131;
        border-radius: 0.5rem;
        color: rgb(225, 225, 225);
        display: flex;
        flex-direction: column;
        gap: 1rem;
     

        h1{
            font-size: 1.5rem;
        }
        

        .desc{
            opacity: 0.7rem;
            word-spacing: 0.4rem;
            line-height: 1.3rem;
        }


        img{
            width: 100%;
            border-radius: 1rem;
        }

        .tags{

            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            .tag{
                background-color: rgb(65, 71, 63);
                width: fit-content;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                white-space: nowrap;
            }
        }

        .urls{
            display: flex;
            gap: 1rem;
            a{
                color: white;
                background-color: #4d5667;
                padding: 0.75rem;
                border-radius: 0.5rem;
                text-decoration: none;
            }
        }
    }


}