.dock{
    display: flex;
    position: absolute;
    gap: 0.75rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(50, 50, 50, 0.426);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);


    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.65rem;
        border-radius: 0.25rem;
        aspect-ratio: 1/1;
        width: 3.7rem;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    }
    .github, .cli{
        background-color: black;
    }
    .note{
        background: linear-gradient(to bottom,rgb(255,179,87) ,rgb(255,153,28));
    }
    .pdf{
        background: linear-gradient(to bottom,rgb(255,65,68) ,rgb(255,25,40));
    }
    .calender, .mail{
        background: linear-gradient(to bottom , rgb(75, 50, 240),rgb(47, 17, 241));
    }
    .spotify{
        background: linear-gradient(to bottom, rgb(78,176,33),rgb(53,142,12));
    }
    .link{
        background: linear-gradient(to bottom, rgb(163,97,170), rgb(143,33,153));
    }
    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }

    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }

}