nav{
    width: 100%;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: rgba(143, 143, 143, 0.084);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    font-family: gilroy;
    

    .left, .right{
        display: flex;
        gap: 1rem;
    }

    .datetime {
        display: flex;
        gap: 0.5rem;
        font-size: 0.85rem;
        color: rgba(255, 255, 255, 0.9);
        
        .time {
            font-weight: 500;
        }
        
        .date {
            font-weight: 400;
        }
    }
}
